In [2]:
!pip install s3fs

Collecting s3fs
  Downloading https://files.pythonhosted.org/packages/45/c1/cb652aacd55290eecd2a3e28f311dac5ce61f243ecd535a133db53499247/s3fs-0.2.0.tar.gz (46kB)
    100% |████████████████████████████████| 51kB 2.4MB/s ta 0:00:011
Collecting botocore (from s3fs)
  Downloading https://files.pythonhosted.org/packages/0b/66/38c903912870df4cdead76841041c1107252be129c75dbb533ce469572ec/botocore-1.12.85-py2.py3-none-any.whl (5.2MB)
    100% |████████████████████████████████| 5.2MB 11.2MB/s ta 0:00:01
Collecting boto3 (from s3fs)
  Downloading https://files.pythonhosted.org/packages/d7/0c/ab877fa34bebf8aba5af6e822c081972d11194be026a247997de3764ade4/boto3-1.9.85-py2.py3-none-any.whl (128kB)
    100% |████████████████████████████████| 133kB 52.7MB/s ta 0:00:01
Requirement already satisfied: six in /opt/conda/lib/python3.6/site-packages (from s3fs) (1.12.0)
Requirement already satisfied: urllib3<1.25,>=1.20; python_version >= "3.4" in /opt/conda/lib/python3.6/site-packages (from botocore->s3fs) (1.24.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1; python_version >= "2.7" in /opt/conda/lib/python3.6/site-packages (from botocore->s3fs) (2.7.5)
Collecting docutils>=0.10 (from botocore->s3fs)
  Downloading https://files.pythonhosted.org/packages/36/fa/08e9e6e0e3cbd1d362c3bbee8d01d0aedb2155c4ac112b19ef3cae8eed8d/docutils-0.14-py3-none-any.whl (543kB)
    100% |████████████████████████████████| 552kB 43.7MB/s ta 0:00:01
Collecting jmespath<1.0.0,>=0.7.1 (from botocore->s3fs)
  Downloading https://files.pythonhosted.org/packages/b7/31/05c8d001f7f87f0f07289a5fc0fc3832e9a57f2dbd4d3b0fee70e0d51365/jmespath-0.9.3-py2.py3-none-any.whl
Collecting s3transfer<0.2.0,>=0.1.10 (from boto3->s3fs)
  Downloading https://files.pythonhosted.org/packages/d7/14/2a0004d487464d120c9fb85313a75cd3d71a7506955be458eebfe19a6b1d/s3transfer-0.1.13-py2.py3-none-any.whl (59kB)
    100% |████████████████████████████████| 61kB 27.8MB/s ta 0:00:01
Building wheels for collected packages: s3fs
  Running setup.py bdist_wheel for s3fs ... done
  Stored in directory: /home/jovyan/.cache/pip/wheels/f8/28/1e/8cd0a0ea152c17b3e75cfdc2e4015168e13ac315ecb02bb591
Successfully built s3fs
Installing collected packages: docutils, jmespath, botocore, s3transfer, boto3, s3fs
Successfully installed boto3-1.9.85 botocore-1.12.85 docutils-0.14 jmespath-0.9.3 s3fs-0.2.0 s3transfer-0.1.13

In [3]:
import s3fs

In [4]:
fs = s3fs.S3FileSystem(anon = True)

In [5]:
fs.ls('propaganda-datathon/dataset')

['propaganda-datathon/dataset/Init-jupyter-environment-and-Get-dataset.ipynb',
 'propaganda-datathon/dataset/datasets-v5.zip',
 'propaganda-datathon/dataset/dev-INPUT.zip',
 'propaganda-datathon/dataset/tools-v2.zip']

In [7]:
fs.read_block('propaganda-datathon/dataset/datasets-v5.zip')

TypeError: read_block() missing 2 required positional arguments: 'offset' and 'length'

In [1]:
import pandas as pd

In [2]:
df2 = pd.read_csv('DataTask2.csv')

In [3]:
df2.keys()

Index(['Unnamed: 0', 'sentences', 'article', 'N_sentence', 'is_propaganda'], dtype='object')

In [4]:
df2.head()

,Unnamed: 0,sentences,article,N_sentence,is_propaganda
0,0,US bloggers banned from entering UK\n,111111112,1,non-propaganda
1,2,Two prominent US bloggers have been banned fro...,111111112,3,non-propaganda
2,4,Pamela Geller and Robert Spencer co-founded an...,111111112,5,propaganda
3,6,They were due to speak at an English Defence L...,111111112,7,non-propaganda
4,8,A government spokesman said individuals whose ...,111111112,9,non-propaganda

In [5]:
sentences = list(df2.sentences)

In [6]:
sentences[:10]

['US bloggers banned from entering UK\n',
 'Two prominent US bloggers have been banned from entering the UK, the Home Office has said.\n',
 'Pamela Geller and Robert Spencer co-founded anti-Muslim group Stop Islamization of America.\n',
 'They were due to speak at an English Defence League march in Woolwich, where Drummer Lee Rigby was killed.\n',
 'A government spokesman said individuals whose presence "is not conducive to the public good" could be excluded by the home secretary.\n',
 'He added: "We condemn all those whose behaviours and views run counter to our shared values and will not stand for extremism in any form."\n',
 "'Right decision'\n",
 'Ms Geller, of the Atlas Shrugs blog, and Mr Spencer, of Jihad Watch, are also co-founders of the American Freedom Defense Initiative, best known for a pro-Israel "Defeat Jihad" poster campaign on the New York subway.\n',
 'On both of their blogs the pair called their bans from entering the UK "a striking blow against freedom" and said the "the nation that gave the world the Magna Carta is dead".\n',
 'They were due to attend a march planned by the far-right EDL to mark Armed Forces Day on 29 June, ending in Woolwich, south east London, where soldier Drummer Rigby was murdered last month.\n']

In [7]:
corpus = pd.read_csv('corpus_all_tokens_df2.csv')

In [8]:
corpus[:10]

   Unnamed: 0                                  corpus_all_tokens
0           0                           us bloggers ban enter uk
1           1  two prominent us bloggers ban enter uk home of...
2           2  pamela geller robert spencer cofounded antimus...
3           3  due speak english defence league march woolwic...
4           4  government spokesman say individuals whose pre...
5           5  add condemn whose behaviours view run counter ...
6           6                                     right decision
7           7  ms geller atlas shrug blog mr spencer jihad wa...
8           8  blog pair call ban enter uk strike blow freedo...
9           9  due attend march plan farright edl mark arm fo...

In [10]:
ngrams_2 = pd.read_csv('n_grams_2_df2.csv')

In [178]:
corpus_all_tokens_n_grams_df2 = pd.read_csv('corpus_all_tokens_n_grams_df2.csv')

In [58]:
corpus_all_tokens_n_grams_df2.head()

,Unnamed: 0,corpus_all_tokens,n_grams_2,n_grams_3
0,0,us bloggers ban enter uk,us_bloggers bloggers_ban ban_enter enter_uk,us_bloggers_ban bloggers_ban_enter ban_enter_uk
1,1,two prominent us bloggers ban enter uk home of...,two_prominent prominent_us us_bloggers blogger...,two_prominent_us prominent_us_bloggers us_blog...
2,2,pamela geller robert spencer cofounded antimus...,pamela_geller geller_robert robert_spencer spe...,pamela_geller_robert geller_robert_spencer rob...
3,3,due speak english defence league march woolwic...,due_speak speak_english english_defence defenc...,due_speak_english speak_english_defence englis...
4,4,government spokesman say individuals whose pre...,government_spokesman spokesman_say say_individ...,government_spokesman_say spokesman_say_individ...

In [59]:
phrase_list2_df = pd.read_csv("phrase_list2.csv")

In [60]:
phrase_list2_df.head()

   Unnamed: 0 phrase_list
0           0        None
1           1        None
2           2        None
3           3        None
4           4        None

In [61]:
total_df = corpus_all_tokens_n_grams_df2.join(phrase_list2_df.phrase_list)

In [275]:
corpus_all_tokens_n_grams_df2.shape

(14291, 4)

In [176]:
total_df.columns

Index(['fulltext'], dtype='object')

In [173]:
total_df = total_df.iloc[:,1:]

In [175]:
corpus_all_tokens = total_df[['corpus_all_tokens']]

KeyError: "['corpus_all_tokens'] not in index"

In [ ]:
corpus_all_tokens_n_grams_df2['']

In [179]:
len_sentence = [len(doc.split()) for doc in corpus_all_tokens_n_grams_df2['corpus_all_tokens'].values]

In [181]:
total_df['sentence_length'] = len_sentence

In [65]:
total_df['fulltext'] = pd.Series([])
for i in range(total_df.shape[0]):
    if total_df.phrase_list[i].strip() != "None":
        total_df['fulltext'][i] = str(total_df.corpus_all_tokens[i]) + " " + str(total_df.n_grams_2[i]) + " " + str(total_df.n_grams_3[i]) + " " + str(total_df.phrase_list[i])
    else:
        total_df['fulltext'][i] = str(total_df.corpus_all_tokens[i]) + " " + str(total_df.n_grams_2[i]) + " " + str(total_df.n_grams_3[i])

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/opt/conda/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [66]:
total_df.iloc[5,:]

corpus_all_tokens    add condemn whose behaviours view run counter ...
n_grams_2            add_condemn condemn_whose whose_behaviours beh...
n_grams_3            add_condemn_whose condemn_whose_behaviours who...
phrase_list                                                       None
fulltext             add condemn whose behaviours view run counter ...
Name: 5, dtype: object

In [67]:
all_tokens = list(total_df['fulltext'])

In [274]:
len(all_tokens)

14291

In [164]:
len_sentence = [len(doc.split()) for doc in all_tokens]

In [166]:
len_sentence[:10]

[12, 27, 27, 30, 36, 33, 4, 72, 45, 63]

In [167]:
all_tokens[:10]

['us bloggers ban enter uk us_bloggers bloggers_ban ban_enter enter_uk us_bloggers_ban bloggers_ban_enter ban_enter_uk',
 'two prominent us bloggers ban enter uk home office say two_prominent prominent_us us_bloggers bloggers_ban ban_enter enter_uk uk_home home_office office_say two_prominent_us prominent_us_bloggers us_bloggers_ban bloggers_ban_enter ban_enter_uk enter_uk_home uk_home_office home_office_say',
 'pamela geller robert spencer cofounded antimuslim group stop islamization america pamela_geller geller_robert robert_spencer spencer_cofounded cofounded_antimuslim antimuslim_group group_stop stop_islamization islamization_america pamela_geller_robert geller_robert_spencer robert_spencer_cofounded spencer_cofounded_antimuslim cofounded_antimuslim_group antimuslim_group_stop group_stop_islamization stop_islamization_america',
 'due speak english defence league march woolwich drummer lee rigby kill due_speak speak_english english_defence defence_league league_march march_woolwich woolwich_drummer drummer_lee lee_rigby rigby_kill due_speak_english speak_english_defence english_defence_league defence_league_march league_march_woolwich march_woolwich_drummer woolwich_drummer_lee drummer_lee_rigby lee_rigby_kill',
 'government spokesman say individuals whose presence conducive public good could exclude home secretary government_spokesman spokesman_say say_individuals individuals_whose whose_presence presence_conducive conducive_public public_good good_could could_exclude exclude_home home_secretary government_spokesman_say spokesman_say_individuals say_individuals_whose individuals_whose_presence whose_presence_conducive presence_conducive_public conducive_public_good public_good_could good_could_exclude could_exclude_home exclude_home_secretary',
 'add condemn whose behaviours view run counter share value stand extremism form add_condemn condemn_whose whose_behaviours behaviours_view view_run run_counter counter_share share_value value_stand stand_extremism extremism_form add_condemn_whose condemn_whose_behaviours whose_behaviours_view behaviours_view_run view_run_counter run_counter_share counter_share_value share_value_stand value_stand_extremism stand_extremism_form',
 'right decision right_decision nan',
 'ms geller atlas shrug blog mr spencer jihad watch also cofounders american freedom defense initiative best know proisrael defeat jihad poster campaign new york subway ms_geller geller_atlas atlas_shrug shrug_blog blog_mr mr_spencer spencer_jihad jihad_watch watch_also also_cofounders cofounders_american american_freedom freedom_defense defense_initiative initiative_best best_know know_proisrael proisrael_defeat defeat_jihad jihad_poster poster_campaign campaign_new new_york york_subway ms_geller_atlas geller_atlas_shrug atlas_shrug_blog shrug_blog_mr blog_mr_spencer mr_spencer_jihad spencer_jihad_watch jihad_watch_also watch_also_cofounders also_cofounders_american cofounders_american_freedom american_freedom_defense freedom_defense_initiative defense_initiative_best initiative_best_know best_know_proisrael know_proisrael_defeat proisrael_defeat_jihad defeat_jihad_poster jihad_poster_campaign poster_campaign_new campaign_new_york new_york_subway',
 'blog pair call ban enter uk strike blow freedom say nation give world magna carta dead blog_pair pair_call call_ban ban_enter enter_uk uk_strike strike_blow blow_freedom freedom_say say_nation nation_give give_world world_magna magna_carta carta_dead blog_pair_call pair_call_ban call_ban_enter ban_enter_uk enter_uk_strike uk_strike_blow strike_blow_freedom blow_freedom_say freedom_say_nation say_nation_give nation_give_world give_world_magna world_magna_carta magna_carta_dead',
 'due attend march plan farright edl mark arm force day june end woolwich south east london soldier drummer rigby murder last month due_attend attend_march march_plan plan_farright farright_edl edl_mark mark_arm arm_force force_day day_june june_end end_woolwich woolwich_south south_east east_london london_soldier soldier_drummer drummer_rigby rigby_murder murder_last last_month due_attend_march attend_march_plan march_plan_farright plan_farright_edl farright_edl_mark edl_mark_arm mark_arm_force arm_force_day force_day_june day_june_end june_end_woolwich end_woolwich_south woolwich_south_east south_east_london east_london_soldier london_soldier_drummer soldier_drummer_rigby drummer_rigby_murder rigby_murder_last murder_last_month']

In [70]:
from sklearn.feature_extraction.text import TfidfVectorizer

corpus_all_tokens_unique = set([w for doc in all_tokens for w in doc.split()])
print("Total number of uniqure words in the corpus: " + str(len(corpus_all_tokens_unique)))

# encode the words in the dictionary in order to create keys DB table 
word2idx = {w:i for i,w in enumerate(corpus_all_tokens_unique)}
tfidf_object = TfidfVectorizer(decode_error='ignore', vocabulary = word2idx)
X_tfidf = tfidf_object.fit_transform(all_tokens)

Total number of uniqure words in the corpus: 232889

In [71]:
test = pd.DataFrame(X_tfidf.toarray())

In [273]:
test.shape

(14291, 232889)

In [56]:
test.to_csv("X_tfidf.csv")

KeyboardInterrupt:

In [156]:
from sklearn.decomposition import TruncatedSVD
lsa = TruncatedSVD(n_components=600, n_iter=2, random_state = 1234)

In [157]:
X_matrix = lsa.fit_transform(X_tfidf)

In [158]:
X_matrix_df = pd.DataFrame(X_matrix)
X_matrix_df.to_csv('X_matrix_df.csv')

In [272]:
X_matrix_df.shape

(14291, 600)

In [81]:
total_dataset = pd.read_csv("df_task2.csv")

In [82]:
total_dataset.keys()

Index(['Unnamed: 0', 'Unnamed: 0.1', 'sentence_id', 'sentences', 'article_id',
       'Unnamed: 4', 'label', 'flesch_reading_ease', 'smog_index',
       'flesch_kincaid_grade', 'coleman_liau_index',
       'automated_readability_index', 'dale_chall_readability_score',
       'difficult_words', 'linsear_write_formula', 'gunning_fog',
       'text_standard', 'sentiment_polarity', 'sentiment_subjectivity',
       'Unnamed: 0.2', '0', 'GPE', 'CARDINAL', 'ORG', 'NORP', 'PERSON', 'DATE',
       'TIME', 'LOC', 'ORDINAL', 'EVENT', 'WORK_OF_ART', 'FAC', 'LAW',
       'PRODUCT', 'MONEY', 'QUANTITY', 'PERCENT', 'LANGUAGE'],
      dtype='object')

In [85]:
total_dataset.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'sentence_id', 'sentences', 'article_id',
       'Unnamed: 4', 'label', 'flesch_reading_ease', 'smog_index',
       'flesch_kincaid_grade', 'coleman_liau_index',
       'automated_readability_index', 'dale_chall_readability_score',
       'difficult_words', 'linsear_write_formula', 'gunning_fog',
       'text_standard', 'sentiment_polarity', 'sentiment_subjectivity',
       'Unnamed: 0.2', '0', 'GPE', 'CARDINAL', 'ORG', 'NORP', 'PERSON', 'DATE',
       'TIME', 'LOC', 'ORDINAL', 'EVENT', 'WORK_OF_ART', 'FAC', 'LAW',
       'PRODUCT', 'MONEY', 'QUANTITY', 'PERCENT', 'LANGUAGE'],
      dtype='object')

In [209]:
features = total_dataset[['sentence_id', 'article_id',
       'label', 'flesch_reading_ease', 'smog_index',
       'flesch_kincaid_grade', 'coleman_liau_index',
       'automated_readability_index', 'dale_chall_readability_score',
       'difficult_words', 'linsear_write_formula', 'gunning_fog',
       'text_standard', 'sentiment_polarity', 'sentiment_subjectivity',
       'Unnamed: 0.2', '0', 'GPE', 'CARDINAL', 'ORG', 'NORP', 'PERSON', 'DATE',
       'TIME', 'LOC', 'ORDINAL', 'EVENT', 'WORK_OF_ART', 'FAC', 'LAW',
       'PRODUCT', 'MONEY', 'QUANTITY', 'PERCENT', 'LANGUAGE']]

In [210]:
all_features = pd.concat([features, pd.DataFrame(X_matrix)], axis = 1)

In [265]:
all_features.shape

(14291, 635)

In [211]:
all_features["Len_sen"] = len_sentence

In [271]:
all_features["Len_sen"].value_counts

<bound method IndexOpsMixin.value_counts of 0         5
1        10
2        10
3        11
4        13
5        12
6         2
7        25
8        16
9        22
10       22
11        2
12        8
13       20
14        7
15        5
16        4
17        2
18        8
19        7
20        6
21        4
22        4
23        6
24        6
25       20
26       20
27       18
28        5
29       10
         ..
14261     8
14262     1
14263    11
14264     8
14265     4
14266     5
14267     8
14268     4
14269    18
14270    16
14271     7
14272     1
14273    12
14274     1
14275    28
14276     7
14277     5
14278    10
14279     3
14280     5
14281    10
14282     9
14283    10
14284     4
14285     1
14286     4
14287     5
14288     6
14289     3
14290     1
Name: Len_sen, Length: 14291, dtype: int64>

In [266]:
emoji_df = pd.read_csv("data_case2_with_affin.csv")

In [267]:
emoji_df.shape

(14263, 5)

In [269]:
all_features.drop_duplicates().shape

(14291, 635)

In [260]:
emoji_article = list(emoji_df['article'])
emoji_N_sentence = list(emoji_df['N_sentence'])
emoji_df['key'] = [str(emoji_article[i]) + "_" + str(emoji_N_sentence[i]) for i in range(emoji_df.shape[0])]

In [261]:
emoji_df.head()

,sentences,article,N_sentence,is_propaganda,affin_score,key
0,US bloggers banned from entering UK\r\r\n,111111112,1,non-propaganda,-2.0,111111112_1
1,Two prominent US bloggers have been banned fro...,111111112,3,non-propaganda,0.0,111111112_3
2,Pamela Geller and Robert Spencer co-founded an...,111111112,5,propaganda,-2.0,111111112_5
3,They were due to speak at an English Defence L...,111111112,7,non-propaganda,-3.0,111111112_7
4,A government spokesman said individuals whose ...,111111112,9,non-propaganda,1.0,111111112_9

In [212]:
all_features= all_features.drop(labels = 'text_standard', axis = 1)

In [224]:
all_features = all_features.fillna(value = 0)

In [225]:
X = all_features.iloc[:, 3:].values
y = all_features['label'].map({'non-propaganda':0, 'propaganda':1})

In [94]:
#all_features['label_dummy'] = all_features['label'].map({'non-propaganda':0, 'propaganda':1})

In [97]:
#all_features['label_dummy'].value_counts()

0    10345
1     3946
Name: label_dummy, dtype: int64

In [204]:
!pip install sklearn

Requirement already satisfied: sklearn in /opt/conda/lib/python3.6/site-packages (0.0)
Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.6/site-packages (from sklearn) (0.20.2)
Requirement already satisfied: scipy>=0.13.3 in /opt/conda/lib/python3.6/site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: numpy>=1.8.2 in /opt/conda/lib/python3.6/site-packages (from scikit-learn->sklearn) (1.13.3)

In [249]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 0)

In [250]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [251]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state=42)
X_train_res, y_train_res = sm.fit_resample(X_train, y_train)

In [252]:
# Fitting Kernel SVM to the Training set
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf', random_state = 0)
classifier.fit(X_train_res, y_train_res)

/opt/conda/lib/python3.6/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=0,
  shrinking=True, tol=0.001, verbose=False)

In [253]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)

# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[2542,  567],
       [ 590,  589]])

# Export the model

In [247]:
import pickle

with open('kernel_svm_with600_iter_with_SMOTE.pkl', 'wb') as f:
    pickle.dump(classifier, f)

In [254]:
from sklearn.metrics import f1_score

f1_s = f1_score(y_test, y_pred)
print("Kernal SVM F1 result: " + str(f1_s))

Kernal SVM F1 result: 0.504496788009

In [148]:
!pip install TextBlob
!pip install nltk

Requirement already satisfied: TextBlob in /opt/conda/lib/python3.6/site-packages (0.15.2)
Requirement already satisfied: nltk>=3.1 in /opt/conda/lib/python3.6/site-packages (from TextBlob) (3.4)
Requirement already satisfied: singledispatch in /opt/conda/lib/python3.6/site-packages (from nltk>=3.1->TextBlob) (3.4.0.3)
Requirement already satisfied: six in /opt/conda/lib/python3.6/site-packages (from nltk>=3.1->TextBlob) (1.12.0)
Requirement already satisfied: nltk in /opt/conda/lib/python3.6/site-packages (3.4)
Requirement already satisfied: singledispatch in /opt/conda/lib/python3.6/site-packages (from nltk) (3.4.0.3)
Requirement already satisfied: six in /opt/conda/lib/python3.6/site-packages (from nltk) (1.12.0)

In [150]:
from nltk import TextBlob

ImportError: cannot import name 'TextBlob'